.main {
  overflow: hidden;
  /* background-color: hsl(216, 22%, 4%); */
  background-color: #2176ff;
}
.section {
  margin: 0 auto;
  padding: 6rem 0 1rem;
}
.container {
  max-width: 75rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}
.banner-column {
  position: relative;
  display: grid;
  align-items: center;
  row-gap: 3rem;
}
@media only screen and (min-width: 768px) {
  .banner-column {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: center;
  }
}
@media only screen and (min-width: 1024px) {
  .banner-column {
    grid-template-columns: 1fr max-content;
    /* column-gap: 4rem; */
    margin-top: 3rem;
  }
}
.banner-image {
  display: block;
  max-width: 18rem;
  height: auto;
  margin-top: 2rem;
  object-fit: cover;
  justify-self: center;
}
@media only screen and (min-width: 768px) {
  .banner-image {
    order: 1;
    max-width: 20rem;
    height: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .banner-image {
    max-width: 25rem;
    height: auto;
    margin-right: 3rem;
  }
}

.banner-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1.75rem;
}
.banner-links {
  position: absolute;
  top: 30%;
  right: 1.5rem;
  display: grid;
  justify-items: center;
  row-gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
}
@media only screen and (min-width: 1024px) {
  .banner-links {
    opacity: 1;
    visibility: visible;
  }
}
.banner-links > * {
  font-size: 1.25rem;
  line-height: 1.25;
  color: hsl(206, 5%, 100%);
}
.banner-links::before {
  position: absolute;
  content: "";
  top: -3rem;
  width: 4rem;
  height: 1.5px;
  transform: rotate(90deg);
  background: hsl(206, 5%, 100%);
}
.banner-links::after {
  position: absolute;
  content: "";
  bottom: -3rem;
  width: 4rem;
  height: 2px;
  transform: rotate(90deg);
  background: hsl(206, 5%, 100%);
}
.heading-xl {
  font-family: inherit;
  font-size: clamp(2.5rem, 6vw, 3.5rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
  color: hsl(206, 5%, 90%);
}
.heading-med {
  font-family: inherit;
  font-size: clamp(1.5rem, 2vw, 3.5rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
  color: hsl(206, 5%, 90%);
}
.paragraph {
  font-family: inherit;
  font-size: clamp(1rem, 2vw, 1.125rem);
  text-wrap: balance;
  color: hsl(206, 5%, 90%);
}
.btn {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;
  outline: none;
  border: none;
  border-radius: 0.25rem;
  text-transform: unset;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn-inline {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}
.btn-darken {
  padding: 0.75rem 2rem;
  color: hsl(206, 5%, 100%);
  background-color: hsl(213, 23%, 8%);
  /* background-color: #2176ff; */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
