:root {
  --primary-04: #0969da;
  --background-04: #24292f;
  --gray-04: #847f90;
  --white-04: #fcfcfc;
  --navbar-height-04: 3.75rem;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu__wrapper_04 {
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  z-index: 2;
  gap: 1.5rem;
  background: var(--background-04);
  height: var(--navbar-height-04);
  padding: 0 1rem;
  align-items: center;
}

.menu__bar_04 {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.logo_04 {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.logo_04 svg {
  fill: var(--white-04);
}

.navigation_04 {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 0.5rem;
  background: var(--background-04);
}

.navigation_04 > li {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  height: 2.625rem;
}

.navigation_04 > li > button > svg {
  fill: var(--white-04);
  color: var(--white-04);
  transition: all 0.2s ease-in-out;
}

.navigation_04 > li > a {
  color: var(--white-04);
  font-size: 0.875rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.navigation_04 > li > button {
  color: var(--white-04);
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  gap: 0.25rem;
  opacity: 1;
  align-items: center;
  font-size: 0.875rem;
  flex-wrap: nowrap;
  white-space: nowrap;
  background: none;
  display: flex;
  padding: 0.185rem 0;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.dropdown_04 {
  position: absolute;
  top: 2.625rem;
  min-width: 15rem;
  border-radius: 0.5rem;
  background: var(--white-04);
  display: none;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0 5px 30px rgba(27, 31, 35, 0.1), 0 0 1px rgba(27, 31, 35, 0.4),
    0 1px 2px rgba(27, 31, 35, 0.15);
  z-index: 2;
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.99) translateY(-0.7em);
    transform-origin: top;
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.dropdown_04 h3 {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.list-menu-items_04 {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  gap: 0.25rem;
}

.list-menu-items_04 > li > a {
  display: flex;
  gap: 1rem;
  font-size: 0.875rem;
  width: 100%;
  color: var(--gray-04);
  text-decoration: none;
}

.list-menu-items_04 > li > a:hover {
  color: var(--primary-04);
}

.list-items-with-description_04 {
  list-style-type: none;
}

.list-items-with-description_04 li {
  display: flex;
  padding: 0.25rem;
  gap: 1rem;
  width: 100%;
}

.list-items-with-description_04 li:hover {
  color: var(--primary-04);
}

.list-items-with-description_04 li svg {
  width: 1rem;
  height: 1rem;
  stroke: var(--primary-04);
}

.item-title_04 h3 {
  font-size: 0.875rem;
  font-weight: 600;
}

.item-title_04 p {
  font-size: 0.75rem;
}

.navigation_04 > li:hover .dropdown_04 {
  display: flex;
  opacity: 1;
}

.action-buttons_04 {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: nowrap;
}

.action-buttons_04 a {
  text-decoration: none;
  white-space: nowrap;
  padding: 0.25rem 0.5rem;
  transition: all 0.2s ease-in-out;
}

.action-buttons_04 a:hover {
  opacity: 0.75;
}

.secondary_04 {
  background: none;
  color: var(--white-04);
  outline: none;
  border: none;
}

.primary_04 {
  color: var(--white-04);
  border-radius: 0.5rem;
  border: 1px solid var(--white-04);
}

.burger-menu_04 {
  display: none;
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.burger-menu_04 svg {
  stroke: var(--white-04);
}

@media (max-width: 600px) {
  .hide {
    display: none;
  }

  .menu__wrapper_04 {
    justify-content: space-between;
  }

  .action-buttons_04 {
    order: -1;
  }
}

@media (max-width: 600px) {
  .burger-menu_04 {
    display: flex;
    align-items: center;
  }
}
